@mixin icons{
  .icon-drop-left:before {
    content: "\e911";
  }
  .icon-drop-right:before {
    content: "\e912";
  }
  .icon-drop-up:before {
    content: "\e913";
  }
  .icon-id2:before {
    content: "\e914";
  }
  .icon-invite-teacher:before {
    content: "\e915";
  }
  .icon-mistakes-collection:before {
    content: "\e916";
  }
  .icon-notification2:before {
    content: "\e917";
  }
  .icon-people2:before {
    content: "\e918";
  }
  .icon-personal2:before {
    content: "\e919";
  }
  .icon-QA2:before {
    content: "\e91a";
  }
  .icon-quote:before {
    content: "\e91b";
  }
  .icon-radio-selected2:before {
    content: "\e91c";
  }
  .icon-radio-unselected2:before {
    content: "\e91d";
  }
  .icon-receive:before {
    content: "\e91e";
  }
  .icon-resources:before {
    content: "\e91f";
  }
  .icon-send:before {
    content: "\e920";
  }
  .icon-share:before {
    content: "\e921";
  }
  .icon-structure2:before {
    content: "\e922";
  }
  .icon-task:before {
    content: "\e923";
  }
  .icon-teaching2:before {
    content: "\e924";
  }
  .icon-transfer:before {
    content: "\e925";
  }
  .icon-upload:before {
    content: "\e926";
  }
  .icon-view-score:before {
    content: "\e927";
  }
  .icon-wisdom-class:before {
    content: "\e928";
  }
  .icon-add-notification:before {
    content: "\e900";
  }
  .icon-checkbox-selected:before {
    content: "\e901";
  }
  .icon-checkbox-unselected:before {
    content: "\e902";
  }
  .icon-drop-down:before {
    content: "\e903";
  }
  .icon-gift:before {
    content: "\e904";
  }
  .icon-home1:before {
    content: "\e905";
  }
  .icon-home:before {
    content: "\e906";
  }
  .icon-id:before {
    content: "\e907";
  }
  .icon-mall:before {
    content: "\e908";
  }
  .icon-notification:before {
    content: "\e909";
  }
  .icon-people:before {
    content: "\e90a";
  }
  .icon-personal:before {
    content: "\e90b";
  }
  .icon-QA:before {
    content: "\e90c";
  }
  .icon-radio-selected:before {
    content: "\e90d";
  }
  .icon-radio-unselected:before {
    content: "\e90e";
  }
  .icon-structure:before {
    content: "\e90f";
  }
  .icon-teaching:before {
    content: "\e910";
  }
}
