//input 看起来的高度是 32 = 20 + 5 + 5 + 2

// 设置disabled 和readonly 的初始效果
input[disabled], input[readonly] {
  cursor: default;
}

input.ui-input,input.ui-input-24 {
  display: inline-block;
  @include box-sizing;
  width: 100%;
  line-height: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: $black-color;
  margin: 4px 10px 4px 0;

  // 获取焦点的效果
  &:focus,
  &.focus {
    border: 1px solid $green-color;
  }

  // hover 效果
  &:hover {

  }

  &:disabled,
  &.disabled,
  &[disabled] {
    color: $color-disabled;
    border: 1px solid #eee;
  }
}

input.ui-input{
  padding: 5px 10px;
  height: 32px;
}

input.ui-input-24{
  padding: 1px 10px;
  height: 24px;
}


// 手机验证码按钮
.ui-input-mobile-verif-code {
  display: block;
  width: 100%;
  position: relative;
  // 移除边框效果
  > input[type=text] {
    @include box-sizing;
    padding-right: 92px;
  }

  //
  > input[type=button] {
    width: 88px;
    position: absolute;
    left:164px;
    top: 50%;
    margin-top: -12px;

  }


  &.disabled{
    color: $color-disabled;
    border: 1px solid #eee;

  }
}

// 验证码 input
.ui-input-verif-code{
  display: block;
  width: 100%;
  position: relative;
  // 移除边框效果
  > input[type=text] {
    display: block;
    float: left;
    width: 80px;
    margin-right: 8px;
  }

  //
  > .verif-code,> .verif-code-24{
    display: block;
    float: left;
    width: 88px;
    height: 32px;
    margin: 4px 0;
    margin-right: 8px;
  }

  >.verif-code-24{
    height: 24px;
  }

  > a,> a.a24{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin: 4px 0;
  }
  > a.a24{
    height: 24px;
    line-height: 24px;
  }
}

// 搜索按钮样式（待定）
.ui-search-input{

}