.ui-select,.ui-select-24 {
  @include box-sizing;
  display: inline-block;
  width: 100%;
  line-height: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: $black-color;
  margin: 4px 10px 4px 0;
}
.ui-select{
  padding: 5px 10px;
  height: 32px;
}
.ui-select-24{
  padding: 1px 10px;
  height: 24px;
}


