
.ui-tab-wrap {
  font-size: $font-special-size;
  padding: 0;
}

.ui-tab-tabs {
  height: 40px;
  border-bottom: 1px solid $green-color;

  .ui-tab-tab {
    float: left;
    height: 38px;
    line-height: 40px;
    padding: 0 16px;

    &:hover{
      text-decoration: none;
      color: $green-color;
    }


    &.selected {
      border: 1px solid $green-color;
      border-bottom: 1px solid $white-color;
      border-top-width: 2px;
      font-weight: bold;
    }
    &:first-child {
      margin-left: 8px;
    }
  }
}
